@import '~style/helpers';

.services {
  padding-top: 2rem;
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
  width: 100%;
  grid-template-columns: 100%;

  @media screen and (min-width: 375px) {
	grid-template-columns: 50% 50%;
  }

  @media screen and (min-width: 768px) {
	grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

.service {
  padding: 1rem;
  border-radius: 0.5rem;

  border: solid 0.1rem #cccccc;
  background: #fafafa;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.serviceDescription {
  font-size: 1.8rem;
}

.serviceHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
